<%=@work.name %>
<br>
<%= image_tag @work.image %>
<%= @work.media %>
<%= @work.published %>
<%= @work.rating %>
<%= @work.content.html_safe %>

<p><%= link_to "Add a review", new_work_review_path(@work) %></p>

<p>
  average rating: <%= @averageRating  %>
</p>


  <% @work.reviews.each do |review| %>
    <div>
      <h3><%=review.title%></h3>
      <h5><%= review.username %></h5>
      <h5><%= review.rating %></h5>
      <p><%= review.content %></p>
      <%= link_to "Edit", edit_work_review_path(@work, review) %> |
      <%= link_to "Delete", work_review_path(@work, review),
                               :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
    </div>
  <% end %>
