<% content_for(:navbar) do %>
  <ul class="left">
    <li><%= link_to "New User", new_user_path, class: "headerLis"%></li>
  </ul>
  <a href="/users" class="brand-logo center headerText"> <%= image_tag "the_beatles.png", class: "resizeImage" %> </a>
<% end %>

<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>
<hr>

<h2>List of Works</h2>
<ul>
  <% @works.each do |work| %>
    <li><%= link_to work.name, work_path(work) %></li>
  <% end %>
</ul>
<hr>

<p>Sort by:
  <%= link_to "Title", users_path(order: 'name') %>
  or
  <%= link_to "Date Created", users_path(order: 'created_at') %>
</p>

<h2>This is the featured:</h2>
<%= @featured.name %>
