<% content_for(:navbar) do %>
  <ul class="left">
    <li><%= link_to "Users", users_path, class: "headerLis" %></li>
    <li><%= link_to "New Work", new_user_work_path(@user), class: "headerLis" %></li>
  </ul>
  <a href="/users" class="brand-logo center headerText"> <%= image_tag "the_beatles.png", class: "resizeImage" %> </a>
<% end %>

<h1><%= @user.name %></h1>

<% if @user.works.any? %>
  <h4>Here are the works for this user:</h4>

  <ul>
    <% @user.works.each do |work| %>
      <li>
        <%= link_to work.name, user_work_path(@user, work) %> |
        <%= link_to "Edit", edit_user_work_path(@user, work) %> |
        <%= link_to "Delete", user_work_path(@user, work),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no works yet!</p>
<% end %>

<p><%= link_to "Edit User", edit_user_path(@user) %></p>
<p><%= link_to "Delete User", user_path(@user),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"}%></p>
