<h1><%= @user.name %></h1>

<% if @user.works.any? %>
  <h4>Here are the works for this user:</h4>

  <ul>
    <% @user.works.each do |work| %>
      <li>
        <%= link_to work.name, user_work_path(@user, work) %> |
        <%= link_to "Edit", edit_user_work_path(@user, work) %> |
        <%= link_to "Delete", user_work_path(@user, work),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no works yet!</p>
<% end %>

<p><%= link_to "Add a work", new_user_work_path(@user) %></p>
<p><%= link_to "Return to users", users_path %></p>
<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Delete", user_path(@user),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"}%></p>
