<%= render('layouts/errors', :object => @review) %>

<%= form_for [@work, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <p><%= f.submit %></p>
<% end %>
